.card{
  position: absolute;
  left: 50%;
  top: 50%;
 transform: translate(-50%,-50%);
 width: 30%;
 height: 60%;
 border: 1px solid rgb(189, 187, 187);
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}

.card-title{
  font-family: gilroy;
}

.card-para{
  font-family: gilroy;
}